logs
project/project
project/target
modules/stores/catalog/target
modules/common/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.env
*.rdb
.DS_Store
*.bak
.bundle
vendor/
activator-1.2.1-minimal/
.ivy2
.sbt
log
activator/
node_modules
package-lock.json
npm-debug.log
coverage/
.vscode


.bloop/
.bsp/
.metals/
project/.bloop/

*.sc

http-client.env.json
project/metals.sbt

*.log